
#nav
{
}

    #nav a:hover
    {
        background: #383838;
    }
    
    #nav a:active
    {
        background: #484848;
    }

    #nav a
    {
        padding: 0.2em 1em 0.2em 1em;
        text-align: center;
        margin: 0.6rem 7rem 0.2em 6em;
        font-weight: 600;
        border-radius: 8px;
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -o-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        color: #fff;
    }
    #topic{
        text-align: center;
    }